@model Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.LanguageSelector.LanguageSelectorViewModel

@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<div id="language-selector" class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="text">@Html.Resource("Language")</span><span class="fa fa-comment-o"></span></a><br/>
    @if (!SystemManager.IsDesignMode)
    {
        <ul class="dropdown-menu">
        @foreach (var language in Model.Languages)
        {
            <li @(language.Culture == Model.CurrentLanguage ? "class=\"active\"" : "")><a href="" onclick="@GetLink(SystemManager.IsDesignMode, language.Culture)">@FirstCharToUpper(language.DisplayName)</a></li>
        }
        </ul>
    }
</div>

@helper GetLink(bool isDesignerMode, string culture)
{
if (isDesignerMode)
{
        @Html.Raw("return false;");
    }
    else
    {
        @Html.Raw("openLink('" + culture + "'); return false;");
    }
}
@helper FirstCharToUpper(string input)
{
    if (!String.IsNullOrEmpty(input))
    {
        @Html.Raw(input.First().ToString().ToUpper() + input.Substring(1));
    }
}

@Html.Script(Url.WidgetContent("Mvc/Scripts/LanguageSelector/language-selector.js"), "bottom", false)